.footer {
  display: flex;
  justify-content: space-between;

  .settings__btn {
    background: url('/assets/svg/settings.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 0 0 15px 15px;
    align-self: flex-end;
    border: none;
    appearance: none;
    cursor: pointer;
  }

  .settings {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 40%;
    overflow-y: auto;
    position: fixed;
    left: 10px;
    bottom: 60px;
    transform: translateX(-120%);
    padding: 15px;
    border: $border;
    background: $settings-background;
    box-shadow: $settings-box-shadow;
    border-radius: 20px;
    transition: all 0.6s ease 0s;

    .settings__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .choose {
      display: flex;
      justify-content: space-between;
      height: 20px;

      select {
        font-size: 0.8em;
        outline: none;
        border-radius: 5px;
      }

      input {
        width: 100px;
        border-radius: 5px;
        outline: none;
        padding: 4px;
        font-size: 12px;
      }
    }

    .title {
      font-size: 0.9rem;
      white-space: nowrap;
    }

    .show__elements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-items {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 10px;
        justify-items: start;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 7px;

        .form-check-input, .form-check-label {
          cursor: pointer;
        }

        label {
          font-size: 0.9em;
        }
      }
    }

    .line {
      width: 95%;
      height: 1px;
      background-color: #fff;
      margin: 10px auto;
    }

    .about__me {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo_rss {
        background: url(/assets/logo_rs.png) no-repeat;
        background-size: contain;
        width: 90px;
        height: 40px;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.5s;
      }

      .gh_author {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.5s;
      }

      .logo_rss, .gh_author {
        &:hover {
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }

  .quotes__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;

    .change-quote {
      margin-bottom: 30px;
      background-image: url("../assets/svg/reload.svg");
    }

    .quote {
      min-height: 32px;
    }

    .author {
      min-height: 20px;
    }
  }

  .todo__btn {
    background: url('/assets/svg/todo.svg') no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    align-self: flex-end;
    border: none;
    appearance: none;
    margin: 0 15px 15px 0;
    cursor: pointer;
    outline: none;
  }
}

.todo__container {
  width: 350px;
  position: fixed;
  overflow-y: auto;
  max-height: 350px;
  bottom: 55px;
  right: 15px;
  padding: 20px 20px;
  transform: translateX(120%);
  border: $border;
  background: $settings-background;
  box-shadow: $settings-box-shadow;
  border-radius: 10px;
  transition: all 0.6s ease 0s;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }

  .newtask {
    position: relative;
  }

  .tasks {
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;

    li {
      display: grid;
      align-items: baseline;
      grid-template-columns: auto 20px;
      grid-column-gap: 10px;
      margin-bottom: 10px;
      border: 1px solid #fff;
      background-color: rgb(55, 60, 60, 76%);
      border-radius: 5px;
      padding: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .checkbox-wrapper {
        display: flex;
        align-items: baseline;

        label {
          display: grid;
          margin-right: 10px;
        }

        span {
          max-width: 185px;
          overflow-x: auto;
        }
      }

      .remove-task {
        background: none;
        outline: none;
        border: none;
        color: white;
      }
    }

    [type="checkbox"]:checked ~ span {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
