.footer {
  display: flex;
  justify-content: space-between;

  .settings__btn {
    background: url('/assets/svg/settings.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 0 0 15px 15px;
    align-self: flex-end;
    border: none;
    appearance: none;
    cursor: pointer;
  }

  .settings {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 40%;
    position: fixed;
    left: 10px;
    bottom: 60px;
    transform: translateX(-120%);
    padding: 15px;
    border: 2px solid rgb(128, 124, 124);
    background: $settings-background;
    box-shadow: $settings-box-shadow;
    border-radius: 20px;
    transition: all 0.6s ease 0s;

    .settings__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .choose {
      display: flex;
      justify-content: space-between;
      height: 20px;

      select {
        font-size: 0.8em;
        outline: none;
        border-radius: 5px;
      }

      input {
        width: 100px;
        border-radius: 5px;
        outline: none;
      }
    }

    .title {
      font-size: 0.9rem;
      white-space: nowrap;
    }

    .show__elements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-items {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 10px;
        justify-items: start;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 7px;

        .form-check-input, .form-check-label {
          cursor: pointer;
        }

        label {
          font-size: 0.9em;
        }
      }
    }
  }

  .quotes__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;

    .change-quote {
      margin-bottom: 30px;
      background-image: url("../assets/svg/reload.svg");
    }

    .quote {
      min-height: 32px;
    }

    .author {
      min-height: 20px;
    }
  }

  .todo__btn {
    background: url('/assets/svg/todo.svg') no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    align-self: flex-end;
    border: none;
    appearance: none;
    margin: 0 15px 15px 0;
    cursor: pointer;
    outline: none;
  }
}

.todo__container {
  width: 350px;
  position: fixed;
  bottom: 55px;
  right: 15px;
  transform: translateX(120%);
  background: $settings-background;
  box-shadow: $settings-box-shadow;
  border-radius: 10px;
  transition: all 0.6s ease 0s;

  .newtask {
    position: relative;
    padding: 20px 20px;
  }

  .tasks {
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;

    .task {
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #939697;
      cursor: pointer;
      background-color: #c5e1e6;
      height: 40px;
      margin-bottom: 8px;
      padding: 5px 10px;
      display: flex;

      span {
        font-size: 15px;
        font-weight: 400;
        color: black;
      }

      button {
        background-color: #0a2ea4;
        color: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;
        height: 100%;
        width: 40px;
        border-radius: 5px;
      }
    }
  }
}
