@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

$main-font: 'Arial', sans-serif;
$settings-background: rgba(0,0,0,0.7);
$settings-box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$border: 2px solid rgb(128, 124, 124);
